@import "../../scss/variables.scss";
.top-loading-container {
  font-size: 12px;
  z-index: 1;
  width: 100%;
  position: absolute;
  color: $active-color;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: rgba(58, 60, 64, 0.9);
  transform: translateY(-40px);
  transition: transform 0.3s;
  &.active {
    transform: translateY(-10px);
  }
  .loading-icon {
    display: inline-block;
    margin-right: 5px;
  }
}