@import "../../scss/variables.scss";
.select-piece {
    display: flex;
    flex-wrap: wrap;
    color: $main-color;
    font-size: 13px;
    line-height: 20px;
    margin: 6px 0;
    .name {
        display: block;
        margin-top: 5px;
        color: $main-color-darker;
        width: 45px;
        height: 20px;
        text-align: justify;
        text-align-last: justify;
        &::after {
            display: inline-block;
            content: '';
            overflow: hidden;
            width: 100%;
            height: 0;
        }
    }
    .maohao {
        display: block;
        margin-top: 5px;
        height: 20px;
        padding-left: 3px;
        padding-right: 8px;
    }
    .piece-container {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        .items {
            cursor: pointer;
            margin-top: 5px;
            height: 20px;
            display: block;
            padding: 0px 11px;
            border-radius: 10px;
            &:hover,
            {
                color: $active-color;
            }
            &.active {
                color: $active-color;
                background: $darker-background;
            }
        }
    }
}