$main-color-lighter: #ffffff;
$main-color: #bfbfba;
$main-color-darker: #9B9B9C;
$active-color:#fd8d29;
$darker-background:#2b2c2f;
$main-background: #3a3c40;
$lighter-background: #4A4B4E;
$app-min-width: 1024px; //1120
$sideNav-width: 125px; //1120
$sideNav-background:#191919;
